.box{
    width: 100%;
    padding: 15px;
    justify-content: center;
}
.nav1{
    
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 100px;
}
.nav2 h1{
    font-size: 35px;
    /* margin-left:-300px; */
}
.nav3{
    display: flex;
     gap: 20px;
   justify-content: center;
   margin-left: -20px;
}
.nav3 p{
    margin-top: 10px;
}
.nav4{
    display: flex;
    gap:20px; 
    justify-content: center;
}
.nav4 input{
    height: 30px;
    width: 250px;
    margin-left: 300px;
    margin-top: 10px;
}
.nav4 p{
    margin-top: 10px;
    gap: 40px;
}
